body {
      font: 20px Open Sans, Quicksand;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p, ul, li {
    font-size: 16px;
}
  .margin {
    margin: 30px 10px 30px 10px;
}
  .navbar {
      margin-bottom: 0;
      background-color: #fff;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Open Sans, Quicksand;
  }
  .navbar li a, .navbar {
      color: #2196F3;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #000 !important;
      background-color: #000;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #000 !important;
  }
  .bg-1 { 
      background-color: #2196F3; /* blue-grey */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #ffffff; /* white */
      color: #555555;
  }
  .bg-3 { 
      background-color: #2f2f2f; /* grey footer */
      color: #fff;
  }
  .container-fluid {
      padding-top: 50px;
      padding-bottom: 50px;
  }

footer a:hover {
  color: white;
}
footer a {
  color: silver;
  font-size: 50px;
  padding: 20px;
}